<section class="content-page">
    <div class="fined-wrapper">
        <div class="col-md-3">
            <h3>Browse</h3>

            <div class="panel-group" id="category-nav">
                <div class="panel">
                    <div class="panel-heading btn-accordion">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#categoryNav" href="#catOne">
                            Category 1
                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i></a>
                    </h4>
                    </div>
                    <div id="catOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">Sub-category 1</a></li>
                                <li><a href="#">Sub-category 2</a></li>
                                <li><a href="#">Sub-category 3</a></li>
                                <li><a href="#">Sub-category 4</a></li>
                                <li><a href="#">Sub-category 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading btn-accordion">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#category-nav" href="#catTwo">
                            Cactegory 2
                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i></a>
                    </h4>
                    </div>
                    <div id="catTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">Sub-category 1</a></li>
                                <li><a href="#">Sub-category 2</a></li>
                                <li><a href="#">Sub-category 3</a></li>
                                <li><a href="#">Sub-category 4</a></li>
                                <li><a href="#">Sub-category 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading btn-accordion">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#category-nav" href="#catThree">
                            Cactegory 3
                            <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i></a>
                    </h4>
                    </div>
                    <div id="catThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">Sub-category 1</a></li>
                                <li><a href="#">Sub-category 2</a></li>
                                <li><a href="#">Sub-category 3</a></li>
                                <li><a href="#">Sub-category 4</a></li>
                                <li><a href="#">Sub-category 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading btn-accordion">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#category-nav" href="#catFour">
                            Cactegory 4
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
                    </h4>
                    </div>
                    <div id="catFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">Sub-category 1</a></li>
                                <li><a href="#">Sub-category 2</a></li>
                                <li><a href="#">Sub-category 3</a></li>
                                <li><a href="#">Sub-category 4</a></li>
                                <li><a href="#">Sub-category 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading btn-accordion">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#category-nav" href="#catFive">
                            Cactegory 5
                            <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
                    </h4>
                    </div>
                    <div id="catFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">Sub-category 1</a></li>
                                <li><a href="#">Sub-category 2</a></li>
                                <li><a href="#">Sub-category 3</a></li>
                                <li><a href="#">Sub-category 4</a></li>
                                <li><a href="#">Sub-category 5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Looking for something?</h3>

            <div class="form-wrapper col-sm-12">
                <form class="form fined-search" id="fined-form">
                    <div class="row">
                        <div class="form-group input-group col-md-12">
                            <input type="text" class="form-control input-lg save" data-field="validate" id="fined-mainsearch" placeholder="Search for...">
                            <span class="input-group-btn">
                            <button class="btn btn-search-mobile glyphicon glyphicon-search" type="button"></button>
                        </span>
                        </div>
                        <div class="col-xs-4 col-md-4 landing-three-col">
                            <div class="form-group radio">
                                <input type="radio" id="vidOnly" class="form-control save" data-field="validate" name="search" value="1">
                                <label for="vidOnly">Videos only</label>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 landing-three-col">
                            <div class="form-group radio">
                                <input type="radio" id="coursesOnly" class="form-control save" data-field="validate" name="search" value="2">
                                <label for="coursesOnly">Courses only</label>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 landing-three-col">
                            <div class="form-group radio">
                                <input type="radio" id="eventsOnly" class="form-control save" data-field="validate" name="search" value="3">
                                <label for="eventsOnly">Events only</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 search-button-col">
                        <a class="btn btn-primary btn-medium btn-search-option" id="homeSearch" href="finedhome.html">Search</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="related-search col-md-3">
            <h3>Related Search</h3>

            <ul class="related-search-items">
                <li>
                    <a href="finedhome.html" class="thumb-video">
                        <img src="/assets/img/help-2.png" alt="">
                        <span class="play"></span>
                        <span class="related-search-item-title">Lorem ipsum dolor sit amet, consectetur adi</span>
                    </a>
                </li>
                <li>
                    <a href="finedhome.html" class="thumb-video">
                        <img src="/assets/img/help-2.png" alt="">
                        <span class="play"></span>
                        <span class="related-search-item-title">Lorem ipsum dolor sit amet, consectetur adi</span>
                    </a>
                </li>
                <li>
                    <a href="finedhome.html" class="thumb-video">
                        <img src="/assets/img/help-2.png" alt="">
                        <span class="play"></span>
                        <span class="related-search-item-title">Lorem ipsum dolor sit amet, consectetur adi</span>
                    </a>
                </li>
                <li>
                    <a href="finedhome.html" class="thumb-video">
                        <img src="/assets/img/help-2.png" alt="">
                        <span class="play"></span>
                        <span class="related-search-item-title">Lorem ipsum dolor sit amet, consectetur adi</span>
                    </a>
                </li>
            </ul>
            <div class="related-search-item-ad col-md-12">
                <h4>Advert Title</h4>
                <a href="finedhome.html">
                    <img src="/assets/img/help-1.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
