</div>
<footer id="main-footer" class="footer-main">
    <div class="container">
        <div class="col-xs-12 col-md-12">
            <div class="copyright clearfix">
                <span class="pull-right">Copyright 2016</span>
            </div>
        </div>
    </div>
</footer>
