<header  id="main-header" class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" data-target="navbar">
        <div class="container head-container">
            <div class="row">
                <div id="navbar" class="navbar-collapse">
                    <a href="styleguide.html" class="logo" alt="Old Mutual" title="Old Mutual"></a>
                    <ul class="nav navbar-nav">
                        <li class="item-active"><a href="styleguide.html"><span>Clients</span></a></li>
                        <li><a href="styleguide.html"><span>Portfolio</span></a></li>
                        <li><a href="styleguide.html"><span>Funds</span></a></li>
                        <li><a href="styleguide.html"><span>Admin</span></a></li>
                        <li><a href="styleguide.html"><span>Help</span></a></li>
                    </ul>
                    <div class="user-profile pull-right">
                        <div class="menu-icon">
                            <span class="icon icon-menu-search"></span>
                        </div>
                        <div class="menu-icon">
                            <span class="icon icon-menu-note"></span>
                        </div>
                        <div class="menu-icon">
                            <span class="icon icon-menu-notification"></span>
                        </div>
                        <div class="menu-icon">
                            <img src="assets/img/user.png">
                        </div>
                    </div>
                    <button class="btn btn-menu pull-right">
                        <span class="icon icon-menu"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
