.skiplinks {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.skiplinks {
    ul {
        position: absolute;
    }
}
.skiplinks {
    ul {
        li {
            a {
                position: absolute;
                top: -1000px;
                left: -1000px;
                z-index: 100002;
                background: #fff;
            }
        }
    }
}
