.fined-wrapper {
    margin-top: 40px;
}
.fined-label-row {
    margin-bottom: 5px;
}
.btn-search-mobile {
    display: inline-block;
    background-image: none !important;
    background-color: @primary-green !important;
    border-left: 0px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #FFFFFF !important;
    padding: 10px 15px 10px 15px;
    margin-top: -1px;
}
@media (min-width: 768px) {
    .btn-search-mobile {
        display: none;
    }
}
.btn-search-mobile:hover {
    background-color: @secondary-green !important;
    border-left: 0px !important;
    color: #FFFFFF !important;
}
#category-nav {
    .accordion-toggle {
        text-decoration: none;
        color: @primary-green;
        width: 100%;
    }
    .accordion-toggle:hover {
        color: #FFFFFF;
    }
    ul {
        list-style: none;
       padding-left: 0px;
    }
    li {
        padding: 5px;
    }
    li:hover {
        background: #efefef;
        .transition (all, 0.2s, ease-in)
    }
    a {
        display: block;
        text-decoration: none;
    }
    .panel {
        box-shadow: none !important;
    }
    .panel-body {
        border: 0px;
    }
    .glyphicon {
        line-height: 2rem;
    }
}
.fined-search {
    margin-top: 40px;
}
#fined-form {
    input[type="radio"] {
        margin-left: 0px;
        margin-right: 10px;
        width: auto;
    }
    .landing-three-col {
        padding-left: 5px;
        padding-right: 0px;
    }
}
.related-search {
    .related-search-items {
        list-style: none;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        li {
            display: inline-block;
            width: 44%;
            height: auto;
            min-height: 100px;
            display: inline-block;
            background: #FFFFFF;
            margin: 10px 10px 15px 0px;
            padding: 0px;
            overflow: hidden;
            a {
                text-decoration: none;
            }
            img {
                width: 100%;
                max-width: 300px;
            }
            .thumb-video {
                display: inline;
                float: left;
                margin: 0 !important;
                position: relative;
                width: auto !important;
            }
            .thumb-video {
                img {
                    margin: 0 0 7px !important;
                }
            }
            .thumb-video {
                .play {
                    background-color: transparent !important;
                    background-image: url("/etc/designs/myproject/images/icon-play.png");
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    bottom: 43%;
                    display: block;
                    height: 31px !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    position: absolute;
                    right: 0;
                    width: 38px !important;
                }
            }
            .thumb-video:hover {
                .play {
                    background-position: 0 -31px;
                }
            }
            .related-search-item-title {
                color: @primary-green;
                display: block;
                font-size: 1.3rem;
                line-height: 1.3rem;
                height: auto;
                max-height: 30px;
                overflow: hidden;
                width: 100%;
            }
        }
    }
    .related-search-item-ad {
        margin-bottom: 15px;
        padding: 0px 15px 0px 0px;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}
