/* Footer */
.footer-main {
    position: relative;
    background: #EDECED;
    bottom: 0;
    height: auto;
    padding-top: 10px;
    width: 100% !important;
    z-index: 112;
    display: inline-table;
}
.footer-main {
    .container {
        margin: 0 auto;
        max-width: 1024px;
        background: none;
        margin-top: 10px;
    }
    h3 {
        font-family: @primary-font-light;
        font-size: 1.8rem;
        text-transform: uppercase;
        strong {
            font-family: @primary-font-bold;
        }
    }
}

.footer-main address, .footer-main p {
    font-family: @secondary-font;
}
.footer-main p {
    font-size: @text-base;
}
.footer-main ul {
    li {
        font-size: 1.1rem;
        line-height: 13px;
    }
    .footer-main {
        a {
            color: @primary-green;
        }
    }
}
.footer-main {
    padding: 10px 15px;
    .copyright {
        label {
            color: @primary-green;
        }
    }
}
.footer-main {
    .copyright {
        .pull-right {
            text-transform: none;
        }
        p {
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}
