@font-face {
    font-family: 'omsa';
    src: url('fonts/omsa.eot');
    src: url('fonts/omsa.eot?#iefix') format('embedded-opentype'), url('fonts/omsa.woff') format('woff'), url('fonts/omsa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Icons */
.icon:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    /*font-family: 'omsa' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;*/
    /* Better Font Rendering =========== */
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}
.icon.icon-alert6:before {
    content: "\e98c";
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle5:before {
    content: "\e98d";
    font-family: @nav-icon;
}
.icon.icon-arrow-down6:before {
    content: "\e98e";
    font-family: @nav-icon;
}
.icon.icon-arrow-right-circle5:before {
    content: "\e98f";
    font-family: @nav-icon;
}
.icon.icon-arrow-right6:before {
    content: "\e990";
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle5:before {
    content: "\e991";
    font-family: @nav-icon;
}
.icon.icon-arrow-up6:before {
    content: "\e992";
    font-family: @nav-icon;
}
.icon.icon-calendar6:before {
    content: "\e993";
    font-family: @nav-icon;
}
.icon.icon-circle6:before {
    content: "\e994";
    font-family: @nav-icon;
}
.icon.icon-close6:before {
    content: "\e995";
    font-family: @nav-icon;
}
.icon.icon-delete6:before {
    content: "\e996";
    font-family: @nav-icon;
}
.icon.icon-form-tick6:before {
    content: "\e997";
    font-family: @nav-icon;
}
.icon.icon-list6:before {
    content: "\e998";
    font-family: @nav-icon;
}
.icon.icon-menu-note4:before {
    content: "\e999";
    font-family: @nav-icon;
}
.icon.icon-menu-notification4:before {
    content: "\e99a";
    font-family: @nav-icon;
}
.icon.icon-menu-search4:before {
    content: "\e99b";
    font-family: @nav-icon;
}
.icon.icon-menu6:before {
    content: "\e99c";
    font-family: @nav-icon;
}
.icon.icon-play6:before {
    content: "\e99d";
    font-family: @nav-icon;
}
.icon.icon-record6:before {
    content: "\e99e";
    font-family: @nav-icon;
}
.icon.icon-search6:before {
    content: "\e99f";
    font-family: @nav-icon;
}
.icon.icon-signature6:before {
    content: "\e9a0";
    font-family: @nav-icon;
}
.icon.icon-sms6:before {
    content: "\e9a1";
    font-family: @nav-icon;
}
.icon.icon-sound6:before {
    content: "\e9a2";
    font-family: @nav-icon;
}
.icon.icon-stop6:before {
    content: "\e9a3";
    font-family: @nav-icon;
}
.icon.icon-table6:before {
    content: "\e9a4";
}
.icon.icon-tooltip6:before {
    content: "\e9a5";
    font-family: @nav-icon;
}
.icon.icon-upload6:before {
    content: "\e9a6";
    font-family: @nav-icon;
}
.icon.icon-user6:before {
    content: "\e9a7";
    font-family: @nav-icon;
}
.icon.icon-alert5:before {
    content: "\e970";
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle4:before {
    content: "\e971";
    font-family: @nav-icon;
}
.icon.icon-arrow-down5:before {
    content: "\e972";
    font-family: @nav-icon;
}
.icon.icon-arrow-right-circle4:before {
    content: "\e973";
    font-family: @nav-icon;
}
.icon.icon-arrow-right5:before {
    content: "\e974";
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle4:before {
    content: "\e975";
    font-family: @nav-icon;
}
.icon.icon-arrow-up5:before {
    content: "\e976";
    font-family: @nav-icon;
}
.icon.icon-calendar5:before {
    content: "\e977";
    font-family: @nav-icon;
}
.icon.icon-circle5:before {
    content: "\e978";
    font-family: @nav-icon;
}
.icon.icon-close5:before {
    content: "\e979";
    font-family: @nav-icon;
}
.icon.icon-delete5:before {
    content: "\e97a";
    font-family: @nav-icon;
}
.icon.icon-form-tick5:before {
    content: "\e97b";
    font-family: @nav-icon;
}
.icon.icon-list5:before {
    content: "\e97c";
    font-family: @nav-icon;
}
.icon.icon-menu-note3:before {
    content: "\e97d";
    font-family: @nav-icon;
}
.icon.icon-menu-notification3:before {
    content: "\e97e";
    font-family: @nav-icon;
}
.icon.icon-menu-search3:before {
    content: "\e97f";
    font-family: @nav-icon;
}
.icon.icon-menu5:before {
    content: "\e980";
    font-family: @nav-icon;
}
.icon.icon-play5:before {
    content: "\e981";
    font-family: @nav-icon;
}
.icon.icon-record5:before {
    content: "\e982";
    font-family: @nav-icon;
}
.icon.icon-search5:before {
    content: "\e983";
    font-family: @nav-icon;
}
.icon.icon-signature5:before {
    content: "\e984";
    font-family: @nav-icon;
}
.icon.icon-sms5:before {
    content: "\e985";
    font-family: @nav-icon;
}
.icon.icon-sound5:before {
    content: "\e986";
    font-family: @nav-icon;
}
.icon.icon-stop5:before {
    content: "\e987";
    font-family: @nav-icon;
}
.icon.icon-table5:before {
    content: "\e988";
    font-family: @nav-icon;
}
.icon.icon-tooltip5:before {
    content: "\e989";
    font-family: @nav-icon;
}
.icon.icon-upload5:before {
    content: "\e98a";
    font-family: @nav-icon;
}
.icon.icon-user5:before {
    content: "\e98b";
    font-family: @nav-icon;
}
.icon.icon-alert4:before {
    content: "\e952";
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle3 .path1:before {
    content: "\e953";
    color: white;
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle3 .path2:before {
    content: "\e954";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}
.icon.icon-arrow-down4:before {
    content: "\e955";
    font-family: @nav-icon;
}
.icon.icon-arrow-right-circle3:before {
    content: "\e956";
    font-family: @nav-icon;
}
.icon.icon-arrow-right4:before {
    content: "\e957";
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle3 .path1:before {
    content: "\e958";
    color: white;
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle3 .path2:before {
    content: "\e959";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}
.icon.icon-arrow-up4:before {
    content: "\e95a";
    font-family: @nav-icon;
}
.icon.icon-calendar4:before {
    content: "\e95b";
    font-family: @nav-icon;
}
.icon.icon-circle4:before {
    content: "\e95c";
    font-family: @nav-icon;
}
.icon.icon-close4:before {
    content: "\e95d";
    font-family: @nav-icon;
}
.icon.icon-delete4:before {
    content: "\e95e";
    font-family: @nav-icon;
}
.icon.icon-form-tick4:before {
    content: "\e95f";
    font-family: @nav-icon;
}
.icon.icon-list4:before {
    content: "\e960";
    font-family: @nav-icon;
}
.icon.icon-menu-note2:before {
    content: "\e961";
    font-family: @nav-icon;
}
.icon.icon-menu-notification2:before {
    content: "\e962";
    font-family: @nav-icon;
}
.icon.icon-menu-search2:before {
    content: "\e963";
    font-family: @nav-icon;
}
.icon.icon-menu4:before {
    content: "\e964";
    font-family: @nav-icon;
}
.icon.icon-play4:before {
    content: "\e965";
    font-family: @nav-icon;
}
.icon.icon-record4:before {
    content: "\e966";
    font-family: @nav-icon;
}
.icon.icon-search4:before {
    content: "\e967";
    font-family: @nav-icon;
}
.icon.icon-signature4:before {
    content: "\e968";
    font-family: @nav-icon;
}
.icon.icon-sms4:before {
    content: "\e969";
    font-family: @nav-icon;
}
.icon.icon-sound4:before {
    content: "\e96a";
    font-family: @nav-icon;
}
.icon.icon-stop4:before {
    content: "\e96b";
    font-family: @nav-icon;
}
.icon.icon-table4:before {
    content: "\e96c";
    font-family: @nav-icon;
}
.icon.icon-tooltip4:before {
    content: "\e96d";
    font-family: @nav-icon;
}
.icon.icon-upload4:before {
    content: "\e96e";
    font-family: @nav-icon;
}
.icon.icon-user4:before {
    content: "\e96f";
    font-family: @nav-icon;
}
.icon.icon-alert3:before {
    content: "\e934";
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle2 .path1:before {
    content: "\e935";
    color: white;
    font-family: @nav-icon;
}
.icon.icon-arrow-down-circle2 .path2:before {
    content: "\e936";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}
.icon.icon-arrow-down3:before {
    content: "\e937";
    font-family: @nav-icon;
}
.icon.icon-arrow-right-circle2:before {
    content: "\e938";
    font-family: @nav-icon;
}
.icon.icon-arrow-right3:before {
    content: "\e939";
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle2 .path1:before {
    content: "\e93a";
    color: white;
    font-family: @nav-icon;
}
.icon.icon-arrow-up-circle2 .path2:before {
    content: "\e93b";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}
.icon.icon-arrow-up3:before {
    content: "\e93c";
    font-family: @nav-icon;
}
.icon.icon-calendar3:before {
    content: "\e93d";
    font-family: @nav-icon;
}
.icon.icon-circle3:before {
    content: "\e93e";
    font-family: @nav-icon;
}
.icon.icon-close3:before {
    content: "\e93f";
    font-family: @nav-icon;
}
.icon.icon-delete3:before {
    content: "\e940";
    font-family: @nav-icon;
}
.icon.icon-form-tick3:before {
    content: "\e941";
    font-family: @nav-icon;
}
.icon.icon-list3:before {
    content: "\e942";
    font-family: @nav-icon;
}
.icon.icon-menu-note:before {
    content: "\e943";
    font-family: @nav-icon;
}
.icon.icon-menu-notification:before {
    content: "\e944";
    font-family: @nav-icon;
}
.icon.icon-menu-search:before {
    content: "\e945";
    font-family: @nav-icon;
}
.icon.icon-menu3:before {
    content: "\e946";
    font-family: @nav-icon;
}
.icon.icon-play3:before {
    content: "\e947";
    font-family: @nav-icon;
}
.icon.icon-record3:before {
    content: "\e948";
    font-family: @nav-icon;
}
.icon.icon-search3:before {
    content: "\e949";
    font-family: @nav-icon;
}
.icon.icon-signatur    e3:before {
    content: "\e94a";
    font-family: @nav-icon;
}

.icon.icon-sms3:before {
    content: "\e94b";
    font-family: @nav-icon;
}

.icon.icon-sound3:before {
    content: "\e94c";
    font-family: @nav-icon;
}

.icon.icon-stop3:before {
    content: "\e94d";
    font-family: @nav-icon;
}

.icon.icon-table3:before {
    content: "\e94e";
    font-family: @nav-icon;
}

.icon.icon-tooltip3:before {
    content: "\e94f";
    font-family: @nav-icon;
}

.icon.icon-upload3:before {
    content: "\e950";
    font-family: @nav-icon;
}

.icon.icon-user3:before {
    content: "\e951";
    font-family: @nav-icon;
}

.icon.icon-alert2:before {
    content: "\e916";
    font-family: @nav-icon;
}

.icon.icon-arrow-down-circle .path1:before {
    content: "\e917";
    color: white;
    font-family: @nav-icon;
}

.icon.icon-arrow-down-circle .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}

.icon.icon-arrow-down2:before {
    content: "\e919";
    font-family: @nav-icon;
}

.icon.icon-arrow-right-circle:before {
    content: "\e91a";
    font-family: @nav-icon;
}

.icon.icon-arrow-right2:before {
    content: "\e91b";
    font-family: @nav-icon;
}

.icon.icon-arrow-up-circle .path1:before {
    content: "\e91c";
    color: white;
    font-family: @nav-icon;
}

.icon.icon-arrow-up-circle .path2:before {
    content: "\e91d";
    margin-left: -1em;
    color: @primary-green;
    font-family: @nav-icon;
}

.icon.icon-arrow-up2:before {
    content: "\e91e";
    font-family: @nav-icon;
}

.icon.icon-calendar2:before {
    content: "\e91f";
    font-family: @nav-icon;
}

.icon.icon-circle2:before {
    content: "\e920";
    font-family: @nav-icon;
}

.icon.icon-close2:before {
    content: "\e921";
    font-family: @nav-icon;
}

.icon.icon-delete2:before {
    content: "\e922";
    font-family: @nav-icon;
}

.icon.icon-form-tick2:before {
    content: "\e923";
    font-family: @nav-icon;
}

.icon.icon-list2:before {
    content: "\e924";
    font-family: @nav-icon;
}

.icon.icon-menu-icon-note:before {
    content: "\e925";
    font-family: @nav-icon;
}

.icon.icon-menu-icon-notification:before {
    content: "\e926";
    font-family: @nav-icon;
}

.icon.icon-menu-icon-search:before {
    content: "\e927";
    font-family: @nav-icon;
}

.icon.icon-menu2:before {
    content: "\e928";
    font-family: @nav-icon;
}

.icon.icon-play2:before {
    content: "\e929";
    font-family: @nav-icon;
}

.icon.icon-record2:before {
    content: "\e92a";
    font-family: @nav-icon;
}

.icon.icon-search2:before {
    content: "\e92b";
    font-family: @nav-icon;
}

.icon.icon-signature2:before {
    content: "\e92c";
    font-family: @nav-icon;
}

.icon.icon-sms2:before {
    content: "\e92d";
    font-family: @nav-icon;
}

.icon.icon-sound2:before {
    content: "\e92e";
    font-family: @nav-icon;
}

.icon.icon-stop2:before {
    content: "\e92f";
    font-family: @nav-icon;
}

.icon.icon-table2:before {
    content: "\e930";
    font-family: @nav-icon;
}

.icon.icon-tooltip2:before {
    content: "\e931";
    font-family: @nav-icon;
}

.icon.icon-upload2:before {
    content: "\e932";
    font-family: @nav-icon;
}

.icon.icon-user2:before {
    content: "\e933";
    font-family: @nav-icon;
}

.icon.icon-alert:before {
    content: "\e900";
    font-family: @nav-icon;
}

.icon.icon-arrow-down:before {
    content: "\e901";
    font-family: @nav-icon;
}

.icon.icon-arrow-right:before {
    content: "\e902";
    font-family: @nav-icon;
}

.icon.icon-arrow-up:before {
    content: "\e903";
    font-family: @nav-icon;
}

.icon.icon-calendar:before {
    content: "\e904";
    font-family: @nav-icon;
}

.icon.icon-circle:before {
    content: "\e905";
    font-family: @nav-icon;
}

.icon.icon-close:before {
    content: "\e906";
    font-family: @nav-icon;
}

.icon.icon-delete:before {
    content: "\e907";
    font-family: @nav-icon;
}

.icon.icon-form-tick:before {
    content: "\e908";
    font-family: @nav-icon;
}

.icon.icon -list:before {
    content: "\e909";
    font-family: @nav-icon;
}

.icon.icon-menu:before {
    content: "\e90a";
    font-family: @nav-icon;
}

.icon.icon-play:before {
    content: "\e90b";
    font-family: @nav-icon;
}

.icon.icon-record:before {
    content: "\e90c";
    font-family: @nav-icon;
}
.icon.icon-search:before {
    content: "\e90d";
    font-family: @nav-icon;
}
.icon.icon-signature:before {
    content: "\e90e";
    font-family: @nav-icon;
}
.icon.icon-sms:before {
    content: "\e90f";
    font-family: @nav-icon;
}
.icon.icon-sound:before {
    content: "\e910";
    font-family: @nav-icon;
}
.icon.icon-stop:before {
    content: "\e911";
    font-family: @nav-icon;
}
.icon.icon-table:before {
    content: "\e912";
    font-family: @nav-icon;
}
.icon.icon-tooltip:before {
    content: "\e913";
    font-family: @nav-icon;
}
.icon.icon-upload:before {
    content: "\e914";
    font-family: @nav-icon;
}
.icon.icon-user:before {
    content: "\e915";
    font-family: @nav-icon;
}
