.search-page {
    margin: 20px 0px;
    h1 {
        text-align: left;
        border-bottom: 1px solid @secondary-grey;
    }
}

.search-landing-page {
    text-align: left;
    margin: 150px 0px;
    padding: 0px 20px;
    width: auto;
    h2 {
        text-align: left;
    }
}

.search-step-1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-step-2 {
    .confirm-error-message {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.process {
    min-height: 850px;
    .step-info {
        margin-bottom: 25px;
    }
    form {
        padding: 15px 0;
    }
    .btn.btn-select {
        .transition(all, 0.5s, ease);
        margin: 0 8px 10px 0;
        opacity: 1;
        padding: 7px 0;
    }
}

@media (max-width: 515px) {
    .process {
        .btn.btn-select {
            height: 100px;
            width: 100px;
        }
        .btn.btn-select {
            .icon {
                margin: 0;
                position: relative;
                top: -7px;
            }
            .btn-label {
                font-size: 1.2rem;
                margin-top: -30px;
                padding: 0 10px;
            }
        }
    }
}

@media (max-width: 378px) {
    .process {
        .btn.btn-select {
            height: 80px;
            width: 80px;
            .btn-label {
                font-size: 1rem;
                margin-top: -22px;
            }
            .icon:before {
                font-size: 6rem;
            }
        }
    }
}

.process {
    .btn.btn-select:last-child {
        margin-right: 0;
    }
    .reset {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (min-width: 480px) {
    .process {
        .reset {
            width: auto;
            margin-bottom: 0;
        }
    }
}

.process {
    .next {
        margin-top: 0;
        margin-bottom: 40px;
        width: 100%;
    }
}

@media (min-width: 480px) {
    .process {
        .next {
            width: inherit;
            margin-top: -15px;
        }
    }
}

.process {
    .authorisation-state {
        display: none;
        .spacer {
            margin: 0 15px;
        }
        .icon-form-tick {
            margin: 0 15px 0 10px;
        }
        .icon-form-tick:before {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 820px) {
    .process {
        .form-group {
            .icon-form-tick {
                position: relative;
                top: 3px;
                right: -5px;
            }
            .icon-tooltip {
                position: relative;
                top: 3px;
                right: -5px;
            }
            .form-group.has-success {
                .icon-form-tick {
                    display: inline-block;
                }
            }
        }
    }
}

.process {
    .client-details {
        .info {
            span {
                display: none;
                color: @alert-red;
                margin-left: 7px;
                text-transform: none;
            }
        }
    }
}

.process > .container {
    min-height: 700px;
    margin-left: 0px;
}

.process {
    .btn.btn-select.btn-select-lg {
        width: 32%;
    }
}

@media (max-width: 1199px) {
    .process {
        .btn.btn-select.btn-select-lg {
            .btn-label {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 982px) {
    .process {
        .btn.btn-select.btn-select-lg {
            .btn-label {
                display: inline-block;
                font-size: 1.4rem;
                max-width: 165px;
                white-space: normal;
            }
        }
    }
}

@media (max-width: 644px) {
    .process {
        .btn.btn-select.btn-select-lg {
            width: 48%;
            margin-right: 0;
            .btn-label {
                font-size: 1.2rem;
            }
        }
    }
}

.process {
    .btn.btn-select.btn-last {
        margin-right: 0;
    }
}

.customer-type {
    margin-top: 10px;
    margin-bottom: 30px;
}

.search-col1 {
    vertical-align: bottom;
    height: 100px;
}

.search-button-col {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-search-option {
    vertical-align: bottom;
    bottom: 0px;
    clear: both;
    position: relative;
    background-image: none !important;
    background-color: @primary-green !important;
    border-left: 0px !important;
    color: #FFFFFF !important;
}

.btn-search-option:hover {
    background-color: @secondary-green !important;
    border-left: 0px !important;
    color: #FFFFFF !important;
}

.search-option-1 {
    margin-top: 91px !important;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
}

.search-option-2 {
    margin-top: 28px !important;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
}

.search-option-3 {
    margin-top: 0px !important;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
}

.input-group-addon {
    .icn-datepicker:before {
        width: 1.8rem !important;
        font-size: 1.8rem;
    }
}

.date {
    max-width: 93%;
}

.pass-exp-date-rsa {
    max-width: 93%;
}

.pass-exp-date-other {
    max-width: 93%;
}

.form-control {
    color: @primary-grey;
}

.form-control::-webkit-input-placeholder {
    color: @primary-grey;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: @primary-grey;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: @primary-grey;
}

.form-control:-ms-input-placeholder {
    color: @primary-grey;
}

.form-control {
    color: @primary-grey;
    height: auto;
}

.form-control {
    .dropdown-disabled::-webkit-input-placeholder {
        color: @primary-grey;
    }
    .dropdown-disabled:-moz-placeholder {
        /* Firefox 18- */
        color: @primary-grey;
    }
    .dropdown-disabled::-moz-placeholder {
        /* Firefox 19+ */
        color: @primary-grey;
    }
    .dropdown-disabled:-ms-input-placeholder {
        color: @primary-grey;
    }
    .radio {
        input[type="radio"] {
            max-height: 8px !important;
        }
    }
}

.dropdown {
    color: @primary-grey;
}

.dropdown-active {
    color: @secondary-grey;
}

.dropdown-disabled {
    color: @secondary-grey;
}

.search-results {}

.search-results-head {
    margin-bottom: 20px;
}

.search-results-intro {
    padding-left: 0px;
}

.form-collapsed {
    text-decoration: none;
    color: @primary-grey;
    font-size: 2rem;
    .icon {
        font-size: 3rem;
        line-height: 2rem;
        vertical-align: bottom;
    }
}

.search-form-collapsed-content {
    margin: 20px 0px;
}

.cta-create-new-customer {
    padding-left: 6rem;
    border-left: 1px solid @secondary-grey;
    p {
        font-family: @secondary-font;
    }
}

hr.search-separator {
    border-top: 1px solid @secondary-grey;
    text-align: center;
    margin: 40px 0px;
}

hr.search-separator:after {
    content: 'OR';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #FFFFFF;
    color: #000000;
    font-size: 1.8rem;
}

.search-results-separator {
    margin: 20px 0px 40px 0px;
    padding: 0px 15px;
    hr {
        border-top: 1px solid @secondary-grey;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
}

.search-results-sort {
    margin-bottom: 20px;
}

.sort-top-dropdown {
    span {
        display: inline-block;
        width: 65px;
        padding: 0px 10px;
    }
    select {
        display: inline-block;
        width: auto;
        margin: 0px;
        padding: 0px;
    }
}

.sort-icons {
    width: 96px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}

.btn-sort {
    display: inline-block;
    width: 96px;
    height: 50px;
    background: url("/assets/img/view_button.png") bottom left no-repeat;
    background-size: 96px 200%;
    border: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    overflow: hidden;
    color: @primary-green;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.btn-sort:hover {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .btn-sort {
        width: 96px;
    }
}

.btn-sort-list {
    display: inline-block;
    width: 96px;
    height: 50px;
    background: url("/assets/img/view_button.png") top left no-repeat;
    background-size: 96px 200%;
    border: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    overflow: hidden;
    color: @primary-green;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.btn-sort-list:hover {
    opacity: 0.7;
    .transition();
}

@media (min-width: 768px) {
    .btn-sort-list {
        width: 96px;
    }
}

.page-top-items {
    width: auto;
    display: inline-block;
    float: right;
    span {
        display: inline-block;
        width: 115px;
        padding: 0px 10px;
    }
    select {
        display: inline-block;
        width: auto;
        margin: 0px;
        padding: 0px;
    }
}

.search-results-item {
    margin: 0px 20px 0px 20px;
    border-bottom: 1px solid @secondary-grey;
    padding: 20px 10px;
}

.search-results-item:hover {
    background: #ECECEC;
}

.client-search-item {
    padding-left: 5px;
}

.search-bottom-par {
    font-family: @secondary-font;
    margin-top: 40px;
}

.btn-search-bottom {
    margin-bottom: -6px;
    margin-left: 15px;
}

.search-results-pagination {
    text-align: center;
    margin: 20px 0px;
    ul {
        margin-top: 0px;
    }
    .pagination {
        color: @primary-grey;
        margin: 0px;
        padding: 0px;
        .search-results-page-link {
            color: @primary-grey;
            height: 46px;
            line-height: 46px;
            a {
                border-color: @secondary-grey;
            }
            span {
                border-color: @secondary-grey;
            }
        }
        .page-link {
            color: @primary-grey;
            height: 46px;
            line-height: 46px;
            margin: 0;
            padding: 0px 15px;
            width: auto;
            border-color: @secondary-grey;
        }
        .page-link:hover {
            color: @primary-green;
        }
    }
}

.no-search-results {
    display: none;
}

.alert.alert-error {
    .transition (all,
    0.5s,
    ease);
    display: none;
    position: relative;
    padding: 14px 0;
    text-align: center;
    background: #FFE9EB;
    color: @alert-red;
    .btn-link {
        padding: 0;
        color: inherit;
        font-family: @primary-font-bold;
        text-decoration: underline;
    }
}

.alert.alert-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.alert.alert-fixed {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.alert.alert-success {
    padding: 15px 0;
    border-color: @secondary-green;
    background: #FAFFF4;
    p {
        font-family: arial;
        font-weight: normal;
        font-size: 1.6rem;
        text-align: center;
        color: @primary-green;
    }
}

.form-group {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    .icon-tooltip {
        position: absolute;
        top: 40px;
        right: -35px;
    }
    .icon-form-tick {
        position: absolute;
        top: 14px;
        right: -31px;
    }
    .icon-tooltip:before {
        font-size: 2rem;
        color: @primary-green;
    }
    label {
        margin-bottom: 5px;
        font-size: @text-base;
        font-weight: 300;
    }
    .form-control {
        font-size: @text-base;
        font-family: @secondary-font;
        color: @primary-grey;
    }
    .form-control:focus {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.form-group.form-group-reset {
    padding: 0;
    margin: 0;
}

@media (min-width: 480px) {
    .form-group {
        label {
            margin-bottom: 5px;
        }
    }
}

.form-group.has-error {
    .form-control {
        border-color: @alert-red;
        background: #FFE9EB;
        color: @alert-red;
    }
    ::-webkit-input-placeholder {
        color: @alert-red;
    }
    :-moz-placeholder {
        color: @alert-red;
    }
    ::-moz-placeholder {
        color: @alert-red;
    }
    :-ms-input-placeholder {
        color: @alert-red;
    }
}

.form-group.has-success {
    .form-control {
        background: #fff;
        border-color: @secondary-green;
        color: @secondary-green;
    }
    .icon-form-tick {
        display: block;
    }
}

.input-group {
    h4 {
        font-size: @text-base;
        font-family: @primary-font-bold;
        color: #fff;
    }
}

.confirm-error-message {
    display: inline-block;
    color: @alert-red;
    text-transform: none;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .confirm-error-message {
        margin-top: 0rem;
        margin-bottom: 1.5rem;
    }
}


/*.input-group .input-group-addon {
display: block;
position: relative;
border: 0;
background: none;
color: #fff;
width: 100%;
text-align: left;
}*/

.input-group {
    .input-group-addon {
        .icon-form-tick {
            display: none;
            position: absolute;
            top: 9px;
            left: 16px;
        }
    }
}

@media (min-width: 480px) {
    .input-group {
        .input-group-addon {
            .icon-form-tick {
                top: 16px;
                left: 24px;
            }
        }
    }
}

@media (min-width: 992px) {
    .input-group {
        .input-group-addon {
            .icon-form-tick {
                top: 21px;
                left: 27px;
            }
        }
    }
}

.input-group {
    .input-group-addon {
        .icon-form-tick:before {
            font-size: @text-base;
            color: @primary-green;
        }
    }
}

@media (min-width: 480px) {
    .input-group {
        .input-group-addon {
            .icon-form-tick:before {
                font-size: 2rem;
            }
        }
    }
}

.input-group {
    .input-group-addon.item-checked {
        .icon-form-tick {
            display: block;
        }
    }
    .input-group-addon input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        height: 20px;
        width: 20px;
        background: #fff;
        border-radius: 3px;
    }
}

@media (min-width: 480px) {
    .input-group {
        .input-group-addon {
            input[type=checkbox] {
                height: 40px;
                width: 40px;
            }
        }
    }
}

@media (min-width: 992px) {
    .input-group {
        .input-group-addon {
            input[type=checkbox] {
                margin-right: 15px;
                height: 50px;
                width: 50px;
            }
        }
    }
}

.input-group {
    .input-group-addon {
        input[type=checkbox]:focus {
            outline: 0;
        }
        input[type=checkbox]:checked {
            outline: 0;
        }
    }
}

@media (max-width: 991px) {
    .input-group {
        h4 {
            padding-left: 10px;
        }
    }
    .input-group {
        .input-group-addon {
            font-size: @text-base;
        }
    }
}

.input-group {
    .checkbox-label {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        text-align: left;
        text-transform: none;
    }
}

@media (max-width: 480px) {
    .input-group {
        .checkbox-label {
            width: 100%;
        }
    }
}

@media (min-width: 480px) and (max-width: 670px) {
    .input-group {
        .checkbox-label {
            width: 70px;
        }
    }
}

.form {
    .form-group.col-md-6 {
        padding: 0 40px 0 15px;
    }
}

.input-group.input-group-search {
    .btn-search:before {
        content: '';
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-right-color: #EDECED;
        top: -1px;
        right: -1px;
        border-top-color: #EDECED;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    .btn-search:after {
        content: '';
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-right-color: #EDECED;
        bottom: -1px;
        right: -1px;
        border-bottom-color: #EDECED;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}

.checkbox {
    margin: 0;
    padding: 29px 15px;
    .btn-link {
        padding: 0;
        text-decoration: underline;
    }
    input[type=checkbox] {
        position: relative;
        margin-right: 10px;
    }
}

.list-group.list-group-3 {
    float: left;
    margin-bottom: 0;
    padding: 31px;
    height: 726px;
    width: 25%;
    background: #EDECED;
    li {
        padding: 15px;
    }
}

.list-group.list-group-reset {
    li {
        border: 0;
        background: none;
    }
}

.list-group {
    li {
        font-size: 18px;
    }
    li.list-group-item-active {
        color: @secondary-green;
    }
    li.list-group-item-active {
        .badge {
            background: @secondary-green;
        }
    }
    .badge {
        float: none;
        margin-right: 15px;
        background: @primary-green;
    }
    .badge.badge-lg {
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 7px;
        height: 32px;
        width: 32px;
        font-size: 1.8rem;
    }
}

.list-group-action {
    margin: 30px auto 0;
    width: 616px;
    li {
        padding: 0;
    }
    li.list-title {
        padding-bottom: 5px;
        font-family: @primary-font-bold;
        text-transform: uppercase;
        .icon-arrow-right:before {
            font-size: 1.2rem;
        }
    }
}

.modal-custom {
    width: 850px;
    .modal-content {
        padding: 15px;
    }
    .modal-body {
        .btn {
            padding: 15px 25px;
            text-transform: uppercase;
        }
        .btn.btn-default {
            border-color: @secondary-green;
            color: @primary-green;
            .icon:before {
                display: inline-block;
                vertical-align: top;
                color: @secondary-green;
            }
            .btn.btn-default:active {
                background: @secondary-green;
                color: #fff;
            }
            .btn.btn-default:hover {
                background: @secondary-green;
                color: #fff;
                .icon:before {
                    color: #fff;
                }
            }
            .btn.btn-default:active {
                .icon:before {
                    color: #fff;
                }
            }
            .btn.btn-action {
                color: #fff;
            }
            .btn.btn-action:hover {
                background-color: @secondary-green;
                .icon:before {
                    color: @alert-red;
                }
            }
            .btn {
                .icon:before {
                    font-size: 17px;
                }
            }
        }
    }
}

.modal-user {
    padding-left: 0 !important;
    background: @primary-green;
    color: #fff;
    width: 100%;
    overflow: hidden !important;
}

@media (min-width: 768px) {
    .modal-user {
        width: 350px;
    }
}

.modal-user {
    .modal-dialog {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .modal-user {
        .modal-dialog {
            width: 350px;
        }
    }
}

.modal-user {
    .modal-header {
        position: fixed;
        top: -100px;
        width: 100%;
        padding: 30px 40px 20px 30px;
        border-bottom: 0;
        background: @primary-green;
    }
    .modal-header {
        img {
            display: inline-block;
            vertical-align: middle;
            height: 65px;
        }
    }
    .modal-header {
        .close {
            position: relative;
            right: -40px;
            top: -20px;
            padding: 30px 40px 30px 30px;
            margin: 0;
        }
        .close {
            .icon:before {
                color: #fff;
            }
        }
    }
    .modal-title {
        font-size: @text-base;
        text-transform: uppercase;
        color: #fff;
    }
    .modal-content {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 100%;
        border: 0;
        background: none;
    }
    .modal-body {
        padding: 0 0 30px 0;
        margin-top: 100px;
        overflow: auto;
        height: 89%;
        h5 {
            margin: 20px;
            text-transform: uppercase;
        }
        .label {
            display: inline-block;
            margin-top: 10px;
            font-size: 22px;
            font-family: @primary-font-light;
            font-weight: normal;
        }
        .btn {
            margin-top: 35px;
            text-align: left;
            border: 1px solid @primary-green;
        }
        .btn:hover {
            border: 1px solid @secondary-green;
        }
    }
    .user-info {
        padding: 40px 35px;
        background: @primary-green;
    }
    address {
        font-family: @primary-font-light;
        font-size: 2.2rem;
        color: #fff;
    }
    span {
        font-family: @primary-font-light;
        font-size: 2.2rem;
        color: #fff;
    }
    .user-info strong {
        font-size: 1.6rem;
        font-family: @primary-font-bold;
        color: #fff;
    }
    .product:hover {
        background-color: @secondary-green;
        border-color: @secondary-green;
        color: #ffffff;
        .text-secondary {
            color: #ffffff;
        }
    }
    .product {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        padding: 10px 23px;
        margin: 0 35px 20px;
        background: #006150;
        border: 1px solid @primary-green;
        .amount {
            font-size: 25px;
            font-weight: 100;
        }
        .value {
            font-size: 1rem;
            text-transform: uppercase;
            color: @secondary-green;
        }
        .icon-arrow-right {
            position: absolute;
            right: 20px;
            top: 50%;
        }
        p:first-child {
            padding-top: 10px;
            color: #fff;
        }
    }
}

.modal-header {
    .close {
        text-shadow: none;
        opacity: 1;
        font-weight: normal;
        .icon:before {
            font-size: 1.5rem;
            color: @primary-green;
        }
    }
}

.modal-title {
    font-family: @secondary-font;
    color: @primary-green;
}

.modal-body {
    .btn-group-record .btn {
        padding: 14px 0;
        width: 130px;
    }
}
.modal-footer {
    .checkbox {
        padding: 0;
    }
}
.modal-footer {
    .checkbox {
        label {
            padding-top: 15px;
        }
    }
}
.modal-footer {
    .checkbox {
        label {
            .confirm-error {
                display: none;
                color: @alert-red;
            }
        }
    }
}
.modal-footer {
    .btn-link {
        text-transform: uppercase;
    }
    .btn-default:hover {
        background-color: @secondary-green;
        color: #ffffff;
    }
}
.modal.slide-right {
    .transition(all,
    0.5s,
    ease);
    left: auto;
    right: -1000px;
}
.modal.slide-right.in {
    right: 0;
}
.progress-bar-container {
    background-color: #ffffff;
    border-bottom: 1px solid @secondary-grey;
    margin-bottom: 40px;
    padding-bottom: 15px;
    width: 100%;
    z-index: 2;
}
.progress {
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    height: 17px;
    background: rgba(110, 171, 36, 0.2);
    .progress-bar {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        width: 16.667%;
        background: @secondary-grey;
    }
    .progress-bar:first-child:before {
        display: none;
    }
    .progress-bar:before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background: #fff;
    }
    .progress-bar.active {
        background: @secondary-green;
    }
}
/**/
.progress-steps {
    height: auto;
    display: table;
    width: 100%;
    padding-bottom: 15px;
    .progress-step {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        width: 16.667%;
        color: @secondary-grey;
        float: left;
        display: inline-block;
    }
    .progress-step:first-child:before {
        display: none;
    }
    .progress-step:before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
    }
    .progress-step.previous {
        color: @secondary-grey;
        h2 {
            color: @secondary-grey;
        }
    }
    .progress-step.active {
        color: @primary-grey;
    }
}
/**/
.new-customer-label-row {
    margin-bottom: 5px;
}
.step-info {
    font-size: 1.6rem;
    font-family: @secondary-font;
    color: @primary-grey;
}
.create-new-customer {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    vertical-align: middle;
}
.step-button-col {
    text-align: right;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
@media (min-width: 992px) {
    .step-button-col {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.create-customer-strap {
    max-width: 1024px;
    position: fixed;
    text-align: left;
    top: 91px;
    width: 100%;
    padding: 15px;
    background: #FFFFFF;
    z-index: 999;
}
.cta-create-customer {
    float: right;
}
.customer-form-content {
    margin-top: 50px;
}
.create-new-customer {
    .form-group.col-md-6 {
        padding: 0px 15px 0px 15px;
    }
    .date {
        width: 100%;
        max-width: 100%;
        height: 46px;
        input {
            height: 46px;
        }
    }
    .pass-exp-date-rsa {
        width: 100%;
        max-width: 100%;
    }
    .pass-exp-date-other {
        width: 100%;
        max-width: 100%;
    }
    .marital-status-date {
        width: 100%;
        max-width: 100%;
    }
    .create-new-customer-tab {
        padding: 5px 15px 15px 15px;
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 3.6rem;
        text-align: left !important;
        vertical-align: middle;
        width: 100%;
        text-transform: normal;
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0px !important;
        border-left: 2px solid @primary-green !important;
        border-radius: 0px 4px 4px 0px !important;
        display: inline-block;
        height: 50px;
        background: url("/assets/img/svg/btn-outline-arrow-right.svg") top right no-repeat;
        background-size: auto 200%;
        overflow: hidden;
        color: @primary-green !important;
    }
    .create-new-customer-tab:hover {
        color: @secondary-green;
        background: url("/assets/img/svg/btn-outline-arrow-right.svg") bottom right no-repeat;
        background-size: auto 200%;
        border-left: 2px solid @secondary-green !important;
    }
    .new-customer-tab-row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .new-customer-tab-subheading {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .new-customer-tab-heading {
        margin: 0px 15px 15px 15px;
        h4 {
            span {
                font-weight: 700;
            }
        }
    }
    .required-msg {
        color: @alert-red;
    }
    .active {
        background-color: none !important;
        .create-new-customer-tab {
            color: @secondary-green;
            background: transparent url("/assets/img/svg/btn-outline-arrow-right.svg") bottom right no-repeat;
            background-size: auto 200% !important;
            border-left: 2px solid @secondary-green !important;
        }
    }
    .contact-number-row {
        margin-bottom: 25px;
    }
    .add-contact-number {
        margin-bottom: 25px;
        border-bottom: 1px solid @secondary-grey;
        padding-bottom: 25px;
    }
    .contact-country-code {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 180px;
    }
    .icn-add-contact-number {
        font-weight: 700;
        font-family: @primary-font-bold;
    }
    .contact-local-code {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 130px;
    }
    .address-suburb {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 180px;
    }
    .address-postal-option {
        display: inline-block;
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 5px;
        width: 30px;
    }
    #postal-address-content {
        margin: 0px;
        padding: 0px;
    }
    .contact-number {
        display: inline-block;
        margin-left: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        min-height: 46px;
        width: 220px;
    }
    .icn-contact-number {
        border: 2px solid @primary-green;
        color: @primary-green;
        font: @primary-font-bold;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        width: 27px;
        height: 27px;
        padding: 4px;
        margin: 0px 5px 5px 15px;
        .border-radius (20px)
    }
    #createCustomerModal {
        .modal-body {
            h4 {
                text-align: center;
            }
        }
    }
}
.nav-tabs {
    border-bottom: none;
}
