@import url("icons.less");
@font-face {
    font-family: 'futura_bt_light';
    src: url('../../fonts/futura_bt_light-webfont.eot');
    src: url('../../fonts/futura_bt_light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura_bt_light-webfont.woff') format('woff'), url('../../fonts/futura_bt_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_bt_bold';
    src: url('../../fonts/futura_bt_bold-webfont.eot');
    src: url('../../fonts/futura_bt_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/futura_bt_bold-webfont.woff') format('woff'), url('../../fonts/futura_bt_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Global Variables */
@baseline: 20px;
@text-base: 1.4rem;
@primary-green: #006150;
@secondary-green: #6EAB24;
@primary-grey: #333333;
@secondary-grey: #C3C3C3;
@light-green: #027864;
@text-link: #027864;
@text-link-hover: #6eab24;
@secondary-link-color: #C3C3C3;
@primary-font-light: 'futura_bt_light', "futura_bt_light", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
@primary-font-bold: 'futura_bt_bold', "futura_bt_bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
@secondary-font: Arial, Helvetica, sans-serif;
@nav-icon: 'omsa' !important;
@btn-om-arrow-hover: #6EAB24;
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.transition (@prop: all, @time: 0.2s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
.quick-gradient (@origin: left, @alpha: 0.2) {
    background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: @primary-green;
    font-weight: normal;
}
h1 {
    font-family: @primary-font-bold;
    color: @primary-green;
    font-weight: 700;
    text-transform: uppercase !important;
    font-size: 2.7rem;
    line-height: 3rem;
    margin-top: 0px;
}
@media (min-width: 992px) {
    h1 {
        font-size: 2.7rem;
        line-height: 3rem;
    }
}
h2 {
    font-family: @secondary-font;
    font-weight: 300;
    color: @secondary-green;
    font-size: 2.7rem;
    line-height: 2.9rem;
    margin-top: 0px;
}
@media (min-width: 768px) {
    h2 {
        font-size: 2.7rem;
        line-height: 2.9rem;
    }
}
h3 {
    font-family: @secondary-font;
    font-weight: 300;
    color: @secondary-green;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-top: 0px;
    margin-bottom: 16px;
}
@media (min-width: 992px) {
    h3 {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
}
h4 {
    font-family: @secondary-font;
    font-weight: 300;
    color: @primary-grey;
    font-size: 2rem;
    line-height: 2.1rem;
    margin-bottom: 16px;
    margin-top: 0px;
}
@media (min-width: 992px) {
    h4 {
        font-size: 2rem;
        line-height: 2.1rem;
    }
}
h5 {
    font-family: @secondary-font;
    font-weight: 300;
    color: @primary-grey;
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin-top: 0px;
    margin-bottom: 16px;
}
@media (min-width: 992px) {
    h5 {
        font-family: @secondary-font;
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
}
h6 {
    font-family: @secondary-font;
    color: @primary-grey;
    font-size: @text-base;
    line-height: 1rem;
    margin-bottom: 14px;
    margin-top: 0px;
}
@media (min-width: 992px) {
    h6 {
        font-size: @text-base;
        line-height: 1rem;
    }
}
h7 {
    font-family: @secondary-font;
    font-weight: bold !important;
    color: @primary-grey;
    text-transform: uppercase;
    font-size: @text-base;
    line-height: 1rem;
    margin-top: 0px;
    margin-bottom: 16px;
}
@media (min-width: 992px) {
    h7 {
        font-family: @secondary-font;
        font-size: @text-base;
        line-height: 1rem;
    }
}
/* Paragraphs */
p {
    font-family: @primary-font-light;
    line-height: 2rem;
    font-size: 1.6rem;
}
.p-big {
    color: @primary-grey;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .p-big {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}
@media (min-width: 992px) {
    .p-big {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}
.p-medium {
    color: @primary-grey;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .p-medium {
        font-size: 1.8rem;
    }
}
@media (min-width: 992px) {
    .p-medium {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}
.p-body {
    color: @primary-grey;
    font-size: @text-base;
    line-height: 2.4rem;
    margin-top: 0px;
    margin-bottom: 5px;

}
@media (min-width: 768px) and (max-width: 991px) {
    .p-body {
        font-size: @text-base;
        line-height: 2.2rem;
    }
}
.p-small {
    color: @primary-grey;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.p-base {
    color: @primary-grey;
    font-size: @text-base;
    line-height: 2.2rem;
}
/* Blockquotes */
blockquote {
    border-left: 6px solid @secondary-grey;
    background: #FFFFFF;
    color: @light-green;
    font-size: @text-base;
    font-style: italic;
    line-height: 2.2rem;
    margin-left: 20px;
    padding: 0px 10px 5px 10px;
}
blockquote {
    span {
        color: @secondary-grey;
        text-align: left;
        display: block;
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    blockquote {
        border-left: 4px solid @secondary-grey;
        font-size: @text-base;
        margin-left: 10px;
    }
}
@media (min-width: 992px) {
    blockquote {
        border-left: 6px solid @secondary-grey;
        font-size: @text-base;
        margin-left: 20px;
    }
}
/* Tables */
.content-page {
    table {
        margin: 0 0 30px 0;
        border-collapse: separate;
        padding: 0;
        width: 100%;
        overflow: hidden;
    }

    table tr:hover td {
        background: #e6e6e6 !important;
    }
    table tbody tr:hover th
    {
        background: #e6e6e6 !important;
    }

    table thead th {
        position: relative;
        left: -1px;
        margin: 0;
        font-size: @text-base;
        font-weight: 700;
        color: #323232;
        text-align: left;
    }
    table thead td {
        position: relative;
        left: -1px;
        margin: 0;
        font-size: @text-base;
        font-weight: 700;
        color: #323232;
        text-align: left;
    }
    table thead th {
        outline: 1px solid #fff;
        border-bottom: 5px solid #006150;
        padding: 15px 10px 11px 10px;
        vertical-align: bottom;
    }

    table thead:first-child th {
        padding-top: 5px;
    }
    table thead td {
        border-bottom: 2px solid #006150;
        padding: 6px 10px 5px 10px;
    }
    table tbody td {
        position: relative;
        left: -1px;
        margin: 0;
        outline: 1px solid #fff;
        padding: 6px 10px 5px 10px;
        font-size: @text-base;
        color: #323232;
    }
    table tbody th {
        position: relative;
        left: -1px;
        margin: 0;
        outline: 1px solid #fff;
        padding: 6px 10px 5px 10px;
        font-size: @text-base;
        color: #323232;
    }
    table.zebra tbody td {
        outline: 0;
    }
    table.zebra tbody th {
        outline: 0;
    }
    table.zebra tr:nth-child(2n) td {
        background: #eee;
    }
    table.zebra tr:nth-child(2n) th {
        background: #eee;
    }
    table.zebra tr:nth-child(2n):hover td {
        background: #d9d9d9;
    }
    table.zebra tr:nth-child(2n):hover th {
        background: #d9d9d9;
    }
    table tbody td {
        outline: 0;
        border-left: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf !important;
    }
    table tbody th {
        outline: 0;
        border-left: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf !important;
    }
    table tbody td p {
        margin: 0;
        font-size: @text-base;
    }
    table tbody td:first-child,
    table tbody th:first-child
    {
        border-left: 0;
    }

    table.lined tbody td:empty {
        border: 0;
    }
}
.content-page {
    width: 1024px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.lt-ie8 {
    .content-page {
        table thead th {
            border-bottom: 4px solid #006150;
        }
    }
}
.lt-ie8 {
    .content-page {
        table thead th {
            border-bottom: 4px solid #006150;
        }
    }
}
.content-page {
    table.lined thead th {
        border-bottom: 4px solid #006150;
    }
}
.lt-ie8 {
    .content-page {
        table thead td {
            border-bottom: 1px solid #006150;
        }
    }
}
.content-page {
    table.lined thead td {
        border-bottom: 1px solid #006150;
    }
}
.title-text {
    margin-top: 30px;
}
.title-text {
    .copy-block-heading {
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .title-text {
        .copy-block-heading {
            cursor: default;
        }
    }
}
.title-text {
    .copy-block-heading.open {
        .icon-plus:before {
            content: "\e822";
            font-family: "dxm-icons";
            font-style: normal;
            font-weight: normal;
            cursor: pointer;
        }
    }
}
.title-text {
    .copy-block-heading {
        .title {
            float: left;
        }
    }
}
.title-text {
    .copy-block-heading {
        .icon-plus {
            float: right;
            color: #cccccc;
            font-size: 2.4rem;
        }
    }
}
h3 {
    p {
        font-family: @primary-font-light;
        color: #004d36;
        line-height: 28px;
        font-size: 2.4rem;
        margin-bottom: 16px;
        margin-top: 0px;
    }
}
.campaigns-h3 {
    font-family: @primary-font-light;
    color: #004d36;
    line-height: 2.8rem;
    font-size: 2.4rem;
    margin-bottom: 16px;
    margin-top: 0px;
}
@media (min-width: 992px) {
    .campaigns-h3,
    h3 {
        p {
            font-size: 3.2rem;
            line-height: 3.6rem;
            text-align: center;
        }
    }
}
.campaigns-h4 {
    p {
        font-family: @primary-font-light;
        color: #004d36;
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}
@media (min-width: 992px) {
    .campaigns-h4 {
        p {
            font-size: 3.2rem;
            line-height: 3.6rem;
        }
    }
}
.campaigns-h5 {
    font-family: @primary-font-light;
    color: #004d36;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 16px;
    margin-top: 0px;
}
@media (min-width: 992px) {
    .campaigns-h5 {
        font-family: @primary-font-light;
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}
.campaigns-p-body {
    color: #353535;
    line-height: 2.4rem;
    font-size: 1.6rem;
}
/* Colour Sample Blocks */
.block {
    height: 150px;
    width: 150px	;
    display: inline-block;
    margin-right: 30px;
    border: 1px solid #e3e3e3;
}
.primary-1 {
    background-color: @primary-green;
}
.primary-2 {
    background-color: @secondary-green;
}
.secondary-1 {
    background-color: #830051;
}
.secondary-2 {
    background-color: #FF9900;
}
.secondary-3 {
    background-color: #00A7CA;
}
.background-1 {
    background-color: #FFFFFF;
}
.main-text-color {
    background-color: @primary-grey;
}
.main-text-color-1 {
    background-color: @secondary-grey;
}
/*.main-text-color-2 {
background-color: @light-green;
}*/
.main-button-color {
    background-color: @primary-green;
}
.main-button-color-1 {
    background-color: @secondary-green;
}
.main-button-color-2 {
    .gradient (top, #FFFFFF, #C3C3C3)
}
.filter-main {
    background-color: #6eab24;
}
.filter-main-1 {
    background-color: #31823d;
}
.filter-main-2 {
    background-color: #1d7543;
}
.filter-main-3 {
    background-color: #116c4b;
}
.filter-main-4 {
    background-color: @primary-green;
}
/* Meta Data */
.meta-data {
    margin-top: 20px;
}
.meta-data {
    p {
        margin-bottom: 20px;
    }
}
/* Buttons */
.btn {
    text-decoration: none;
    border: none;
}
.btn.btn-medium {
    padding: 13px 20px;
}
.btn.btn-small {
    padding: 10px 20px 9px 20px;
    font-size: 1.8rem;
    line-height: 2rem;
}
.btn.disabled {
    color: #a7a7a7;
    background: #e6e6e6;
}
.btn:active {
    outline: none;
}
.btn:focus {
    outline: none;
}
.btn:active {
    outline: none;
    box-shadow: none;
}
.btn-default {
    padding: 17px 30px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    background-color: @primary-green;
    color: #FFFFFF;
    width: 100%;
    text-transform: uppercase;
    .transition;
}
.btn-om-arrow-right {
    display: inline-block;
    width: 100%;
    height: 25px;
    background: url("/etc/designs/myproject/images/svg/btn-right-arrow.svg") top right no-repeat;
    background-size: auto 200%;
    border: 0px;
    padding: 2px 15px 0px 15px;
    margin: 0px;
    margin-top: 15px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
}
.btn-om-arrow-right:hover {
    color: #FFFFFF;
    background: url("/etc/designs/myproject/images/svg/btn-right-arrow.svg") bottom right no-repeat;
    background-size: auto 200%;
}
@media (min-width: 768px) {
    .btn-om-arrow-right {
        width: auto;
    }
}
.btn-om-arrow-left {
    display: inline-block;
    width: 100%;
    height: 25px;
    background: url("/etc/designs/myproject/images/svg/btn-left-arrow.svg") top left no-repeat;
    background-size: auto 200%;
    border: 0px;
    padding: 2px 15px 0px 15px;
    margin: 0px;
    margin-top: 15px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
}
.btn-om-arrow-left:hover {
    color: #FFFFFF;
    background: url("/etc/designs/myproject/images/svg/btn-left-arrow.svg") bottom left no-repeat;
    background-size: auto 200%;
}
@media (min-width: 768px) {
    .btn-om-arrow-left {
        width: auto;
    }
}
.btn-right-arrow-search {
    display: inline-block;
    width: 100%;
    height: 105px;
    background: url("/etc/designs/myproject/images/svg/btn-right-arrow.svg") top right no-repeat;
    background-size: auto 200%;
    border: 0px;
    padding: 35px 30px 0px 30px;
    margin: 0px;
    margin-top: 15px;
    margin-right: 15px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.4rem;
    text-transform: uppercase;
}
.btn-right-arrow-search:hover {
    color: #FFFFFF;
    background: url("/etc/designs/myproject/images/svg/btn-right-arrow.svg") bottom right no-repeat;
    background-size: auto 200%;
    cursor: pointer;
}
@media (min-width: 768px) {
    .btn-right-arrow-search {
        width: auto;
    }
}
.btn-outline-arrow-left {
    display: inline-block;
    width: 100%;
    height: 42px;
    background: url("/etc/designs/myproject/images/svg/btn-outline-arrow-left.svg") top left no-repeat;
    background-size: auto 200%;
    border: 0px;
    padding: 4px 15px 0px 15px;
    margin: 0px;
    margin-top: 15px;
    overflow: hidden;
    color: @primary-green;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.btn-outline-arrow-left:hover {
    color: @secondary-green;
    background: url("/etc/designs/myproject/images/svg/btn-outline-arrow-left.svg") bottom left no-repeat;
    background-size: auto 200%;
}
@media (min-width: 768px) {
    .btn-outline-arrow-left {
        width: auto;
    }
}
.btn-outline-arrow-right {
    display: inline-block;
    width: 100%;
    height: 42px;
    background: url("/etc/designs/myproject/images/svg/btn-outline-arrow-right.svg") top right no-repeat;
    background-size: auto 200%;
    border: 0px;
    padding: 4px 15px 0px 15px;
    margin: 0px;
    margin-top: 15px;
    overflow: hidden;
    color: @primary-green;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.btn-outline-arrow-right:hover {
    color: @secondary-green;
    background: url("/etc/designs/myproject/images/svg/btn-outline-arrow-right.svg") bottom right no-repeat;
    background-size: auto 200%;
}
@media (min-width: 768px) {
    .btn-outline-arrow-right {
        width: auto;
    }
}
@media (min-width: 768px) {
    .btn-default {
        width: auto;
    }
}
.btn-default:hover {
    color: white;
    background-color: @secondary-green;
}
.btn-default:active {
    color: white;
    background-color: @secondary-green;
}
.btn-default:focus {
    color: white;
    background-color: @secondary-green;
}
.btn-default {
    .icon-arrowright {
        margin-left: 10px;
        vertical-align: text-bottom;
    }
    .icon-arrowright:before {
        font-size: @text-base;
    }
    .icon-arrowleft {
        margin-right: 10px;
        vertical-align: text-bottom;
    }
    .icon-arrowleft:before {
        font-size: @text-base;
    }
}
.btn-primary {
    padding: 18px 30px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #33715e;
    .transition;
    background-color: #e6e6e6;
}
.btn-primary:hover {
    background-color: #dadada;
    color: #33715e;
}
.btn-primary.active {
    color: white;
    background: @primary-green;
}
.btn-primary.active:hover {
    color: white;
    background: @secondary-green;
}
.btn-primary {
    .icon-arrowright {
        font-size: @text-base;
    }
}
.btn-clipboard {
    background: #e6e6e6;
    padding: 9px 0px 6px 0px;
    text-align: center;
    color: #33715e;
    font-size: 1.8rem;
    border: none;
    width: 100%;
    outline-style: none;
}
.btn-clipboard {
    .icon-clipboard {
        margin-right: 10px;
    }
}
.btn-reset {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #5c5c5c;
    background: none;
}
.full-btn {
    background-color: #e6e6e6;
    padding: 19px 0px;
    font-size: 1.8rem;
    color: #33715e;
    .transition;
    line-height: 2rem;
}
.full-btn {
    .icon-loading {
        font-size: 2.2rem;
        margin-right: 7px;
        -webkit-animation: spin 1.5s infinite linear;
        -o-animation: spin 1.5s infinite linear;
        animation: spin 1.5s infinite linear;
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.full-btn {
    .icon-arrowup {
        font-size: 1.2rem;
        margin-right: 10px;
        vertical-align: middle;
    }
    .icon-property {
        position: relative;
        top: -1px;
    }
}
.full-btn:hover {
    background-color: #dadada;
    color: #33715e;
}
.full-btn.showmore {
    margin: 10px 0px 0px 0px;
}
.full-btn.showmore {
    .icon-loading {
        -webkit-animation: 0;
        -o-animation: 0;
        animation: 0;
    }
    .full-btn.showmore .icon-loading:before {
        vertical-align: middle;
    }
}
.full-btn.loading {
    margin: 10px 0px 0px 0px;
}
.btn-content {
    width: 100%;
    padding: 6px 10px;
    margin-top: 29px;
    color: @primary-green;
    font-size: 1.4rem;
    line-height: 1.6rem;
    .gradient (top, #FFFFFF, #C3C3C3);
    .border-radius (2px);
    .transition;
    border: 1px solid #ccc !important;
}
@media (min-width: 768px) {
    .btn-content {
        width: auto;
    }
}
.btn-content:hover {
    color: @secondary-green;
    background-color: #195e4a;
}
.btn-content:active {
    color: @secondary-green;
    background-color: #33715e;
}
.btn-content:focus {
    color: @secondary-green;
    background-color: #195e4a;
}
/* Text Links */
a {
    font-size: @text-base;
    color: @text-link;
    text-decoration: underline;
}
a:hover {
    color: @text-link;
    text-decoration: none;
}
.primary-cta {
    font-family: @primary-font-light;
    font-size: 4rem;
    line-height: 4rem;
    color: #004d36;
    text-transform: capitalize;
    .transition;
}
@media (min-width: 768px) and (max-width: 991px) {
    .primary-cta {
        font-size: 3.6rem;
        line-height: 4rem;
    }
}
.primary-cta.long-cta {
    font-size: 2.8rem;
    line-height: 3.2rem;
}
.primary-cta.long-cta {
    .icon-cta {
        font-size: 2.4rem;
        top: 0px;
    }
}
.primary-cta {
    .left-icon [class*="icon-"] {
        margin: -4px 9px 0px 0px;
        float: left;
    }
}
.primary-cta [class*="icon-"] {
    .transition;
    margin-left: 10px;
    position: relative;
}
.primary-cta [class*="icon-"]:before {
    font-size: 3rem;
}
.primary-cta:hover [class*="icon-"] {
    margin-left: 15px;
}
.primary-cta:hover {
    .left-icon [class*="icon-"] {
        margin-left: 0px;
    }
}
.primary-cta:focus {
    outline: none;
    color: #004d36;
}
.secondary-cta {
    font-family: @primary-font-light;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #004d36;
    margin: 0px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    .transition;
}
@media (min-width: 768px) and (max-width: 991px) {
    .secondary-cta {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}
.secondary-cta {
    span {
        vertical-align: top;
    }
}
.secondary-cta [class*="icon-"] {
    .transition;
    margin-left: 10px;
}
.secondary-cta [class*="icon-"]:before {
    font-size: 2.4rem;
    vertical-align: middle;
    margin-top: -3px;
}
.secondary-cta {
    .icon-phone {
        margin-right: 10px;
    }
    .icon-link {
        margin-right: 10px;
    }
}
.secondary-cta:hover {
    .icon-cta {
        margin-left: 15px;
    }
}
.secondary-cta:focus {
    outline: none;
    color: #004d36;
}
.call-cta {
    font-family: @primary-font-bold;
    font-size: 2rem;
    color: @primary-green;
    .transition(all, 0.5s, linear);
    display: block;
}
.call-cta [class^='icon-'] {
    margin-right: 10px;
}
.call-cta:focus {
    outline: none;
}
.cta-summary-secondary {
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .cta-summary-secondary {
        padding: 30px;
    }
}
.cta-summary-secondary {
    .border-v-dark {
        border-right: 2px solid #dadada;
        position: absolute;
        left: 57.33%;
        height: auto;
        bottom: 30px;
        top: 30px;
    }
}
@media (min-width: 992px) {
    .cta-summary-secondary .border-v-dark {
        left: 50%;
    }
}
@media (min-width: 1200px) {
    .cta-summary-secondary {
        .border-v-dark {
            left: 41.999999%;
        }
    }
}
.cta-summary-secondary {
    .icon-personal2 {
        font-size: 6rem;
        float: left;
        margin-right: 30px;
        color: #cccccc;
    }
}
.cta-summary-secondary {
    .icon-personal2:before {
        vertical-align: middle;
    }
    .primary-cta {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
    .primary-cta {
        .icon-cta {
            top: 3px;
        }
    }
}
.cta-summary-secondary {
    p {
        margin-left: 30px;
    }
}
.mobile-cta-map {
    .secondary-cta {
        display: block;
        font-size: 1.8rem;
        line-height: 2.2rem;
        vertical-align: top;
        margin-top: 3px;
        max-width: 240px;
    }
}
.download-cta {
    font-family: @primary-font-bold;
    font-size: 2rem !important;
    color: #004d36;
    line-height: 2.4rem;
    .transition(all, 0.3s, linear);
    display: block;
}
.download-cta {
    .size {
        font-size: 1.2rem;
        margin-left: 10px;
    }
}
.download-cta [class^='icon-'] {
    color: #004d36;
    font-size: 2rem !important;
}
.download-cta [class^='icon-']:before {
    margin-right: 10px !important;
}
.download-cta:focus {
    outline: none;
}
.text-link-cta {
    padding: 3px 0px;
    font-size: 1.6rem;
    line-height: 2rem;
    color: @text-link;
    white-space: pre-wrap;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    left: 3px;
    .transition(all, 0.3s, linear);
}
.text-link-cta.light {
    background-color: #FFFFFF;
    box-shadow: 3px 0 0 #FFFFFF, -3px 0 0 #FFFFFF;
}
.text-link-cta.dark {
    background-color: #FFFFFF;
    box-shadow: 3px 0 0 #FFFFFF, -3px 0 0 #FFFFFF;
}
.text-link-cta:hover {
    color: @text-link-hover;
    text-decoration:  none;
    background-color: #FFFFFF;
    box-shadow: 3px 0 0 #FFFFFF, -3px 0 0 #FFFFFF;
}
.text-link-cta.bold {
    color: @text-link;
}
.text-link-cta.bold:hover {
    color: @text-link-hover;
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-link-cta {
        font-size: @text-base;
    }
}
.icon-text-link-cta {
    display: inline-table;
}
.icon-text-link-cta {
    .text-link-icon {
        margin-right: 10px;
        font-size: 1.6rem;
        vertical-align: middle;
        float: left;
    }
    .text-link-icon.text-link-icon-small {
        font-size: @text-base;
        color: @text-link;
    }
}
.text-link-cta-normal {
    color: #353535;
}
.text-link-cta-small {
    font-size: @text-base;
    color: @text-link;
}
.text-link-icon-small-bold {
    color: @text-link;
}
.text-link-icon-small {
    color: @text-link;
    font-size: @text-base;
}
a:focus {
    color: inherit;
}
.wrap_fix {
    white-space: pre;
}
.text_link_fix {
    left: -3px !important;
}
.no_results {
    font-size: @text-base;
    color: #353535;
    padding: 13px 0px 0px 13px;
}
@media (min-width: 992px) {
    .no_results {
        font-size: 1.6rem;
        padding: 13px 0px 0px 13px;
    }
}
.inline {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.bold {
    font-weight: bold;
}
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
/* Containers and misc styles */
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-26 {
    margin-top: 26px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-26 {
    margin-bottom: 26px;
}
.mb-30 {
    margin-bottom: 30px;
}
.m-0 {
    margin: 0px !important;
}
.mb-0 {
    margin-bottom: 0px;
}
.p-0 {
    padding: 0px !important;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
    background: #dadada;
}
.p-40 {
    padding: 40px;
}
hr {
    border-top: 2px solid #eeeeee;
    margin: 0px;
}
.hr-dark {
    border-top: 2px solid #dadada;
}
.border-v-dark {
    border-right: 2px solid #dadada;
}
.bg-white {
    background-color: #ffffff;
}
.lighter-bg {
    background-color: #f9f9f9;
}
.light-bg {
    background-color: #FFFFFF;
}
.dark-bg {
    background-color: #eeeeee;
}
.darker-bg {
    background-color: #e8e8e8;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    font-size: 62.5%;
}
body {
    background: #FFFFFF;
    font-family: @primary-font-light;
    font-size: @text-base;
    color: @primary-grey;
}
.wrapper {
    padding-top: 95px;
    margin: auto;
}
@media (max-width: 1024px) {
    body {
        .logo {
            margin: 0;
        }
    }
}
.skiplinks {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.wrapper {
    max-width: 1024px;
    margin: 0px auto;
}
.container {
    background-color: #FFFFFF;
    max-width: 1024px;/* 1140px */
    margin-left: 0px;
    margin-top: 61px;
}
@media (min-width: 768px) {
    .container {
        margin-left: 90px;
        margin-top: 90px;
    }
}
@media (min-width: 1024px) {
    .container {
        margin-left: 90px;
    }
}
@media (min-width: 1025px) {
    .container {
        margin-left: 320px;
    }
}
@media (min-width: 1200px) {
    .container {
        margin-left: 320px;
    }
}
.container.content-push-toright-1024 {
    left: 230px;
}
.container.content-push-toright-1024-far {
    left: 460px;
}
.container.content-push-toright-far {
    left: 550px;
    margin-left: 0px;
}
.container.search-input-container-open {
    margin-top: 121px;
}
@media (min-width: 768px) {
    .container.search-input-container-open {
        margin-top: 180px;
    }
}
.container.alert-open {
    margin-top: 61px;
}
@media (min-width: 768px) {
    .container.alert-open {
        margin-top: 180px;
    }
}
.container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    /*dim the background*/
    display: none;
}
.container-overlay.content-push-toright {
    display: block;
    left: 0;
}
.container-sidebar {
    width: auto;
    max-width: 1370px;
    margin-left: 90px;
}
.detail-container {
    width: auto;
    max-width: 1370px;
    margin-left: 0px;
}
@media (min-width: 768px) {
    .detail-container {
        margin-left: 90px;
    }
}
.detail-container.content-push-toright {
    margin-left: 0px;
    left: 320px;
}
.detail-container.content-push-toright-far {
    margin-left: 0px;
    left: 550px;
}
.full-container {
    margin-left: 0px;
    max-width: 1460px;
    width: auto;
}
.full-container.content-push-toright {
    margin-left: 0px;
    left: 320px;
}
.full-container.content-push-toright-far {
    margin-left: 0px;
    left: 550px;
}
@media (min-width: 768px) {
    .full-container {
        margin-left: 90px;
    }
}
.general-listing {
    padding: 10px;
}
@media (min-width: 992px) {
    .general-listing {
        padding: 40px;
    }
}
.general-listing .tagDiv {
    margin-bottom: 10px;
}
.general-listing .tagDiv:last-child {
    margin-bottom: 0px;
}
@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}
@media (min-width: 768px) {
    .column-listing .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .column-listing [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.column-listing .row-inside-accordion {
    margin-left: 5px;
    margin-right: 5px;
}
@media (min-width: 768px) {
    .column-listing .row-inside-accordion {
        margin-left: 0px;
        margin-right: 0px;
    }
}
.column-listing .panel-group {
    margin-bottom: 0px;
}
.column-listing .tagDiv {
    margin-bottom: 0px;
}
/* Header */
.head-container {
    margin: 0px auto;
    background: #FFFFFF;
}
/* Navigation */
.nav-container {
    margin: 0px auto;
    width: 1024px;
}
.navbar-default .navbar-collapse {
    border: 0px;
}
.navbar {
    border-bottom: 1px solid #e5e5e5;
    margin: 0px;
}
.navbar.navbar-default {
    padding: 15px 0px;
    background: #FFFFFF;
}
.navbar.navbar-default .navbar-collapse {
    border: 0px;
}
.navbar.navbar-process .create-customer {
    text-transform: uppercase;
    display: none;
}
@media (min-width: 992px) {
    .navbar.navbar-process .create-customer {
        display: block;
    }
}
.navbar.navbar-process .create-customer strong {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    font-family: @primary-font-bold;
    color: @primary-green;
}
.navbar.navbar-process .create-customer .btn-link {
    padding: 0;
    text-transform: uppercase;
}
.navbar.navbar-process .create-customer .btn-link:last-child:before {
    content: '';
    margin-left: 10px;
    padding-right: 15px;
    border-left: 1px solid @primary-green;
}
.navbar .user-profile {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    display: none;
}
@media (min-width: 992px) {
    .navbar .user-profile {
        display: block;
    }
}
.navbar .user-profile .user-details, .navbar .user-profile img {
    display: inline-block;
    vertical-align: middle;
}
.navbar .user-profile .menu-icon {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 45px;
}
.navbar .user-profile .menu-icon:hover {
    cursor: pointer;
}
.navbar .user-profile .menu-icon:after {
    content: "";
    border-left: 1px solid #e5e5e5;
    position: absolute;
    top: -20px;
    left: -3px;
    height: 100px;
}
@media (min-width: 1200px) {
    .navbar .user-profile .menu-icon:after {
        top: -16px;
        height: 92px;
    }
}
.navbar .user-profile .menu-icon .icon {
    font-size: 6rem;
    color: @primary-green;
}
.navbar .user-profile > div:last-of-type {
    padding-left: 15px;
}
@media (max-width: 1199px) {
    .navbar.navbar-default {
        padding: 19px 0px;
    }
}
@media (min-width: 992px) {
    .navbar .btn.btn-menu {
        display: none;
    }
}

.navbar-default .navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    display: none;
}
.navbar-default .navbar-nav li {
    display: inline-block;
    font-size: 1.4rem;
    font-family: @primary-font-light;
    text-transform: uppercase;
}
.navbar-default .navbar-nav li a {
    color: @primary-green;
    text-decoration: none;
}
.navbar-default .navbar-nav li.item-active {
    font-family: @primary-font-bold;
}
.navbar-default .navbar-nav li.item-active span {
    padding-bottom: 3px;
    border-bottom: 3px solid @primary-green;
}
@media (min-width: 992px) {
    .navbar-default .navbar-nav {
        display: inline-block;
    }
}
/* Logo */
.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px 0px 0px;
    width: 161px;
    height: 36px;
    background: url("/etc/designs/myproject/images/logo.png");
}
/* Footer */
.footer-main {
    position: relative;
    background: #EDECED;
    bottom: 0;
    height: auto;
    padding-top: 10px;
    width: 100% !important;
    z-index: 112;
}
.footer-main {
    .container {
        margin: 0 auto;
        max-width: 1024px;
        background: none;
    }
    h3 {
        font-family: @primary-font-light;
        font-size: 1.8rem;
        text-transform: uppercase;
        strong {
            font-family: @primary-font-bold;
        }
    }
}

.footer-main address, .footer-main p {
    font-family: arial;
}
.footer-main p {
    font-size: @text-base;
}
.footer-main ul {
    li {
        font-size: 11px;
        line-height: 13px;
    }
.footer-main a {
    color: #57A48F;
}

}
.footer-main {
    padding: 10px 15px;
    .copyright {
        label {
            color: @primary-green;
        }
    }
}
.footer-main {
    .copyright {
        .pull-right {
            text-transform: none;
        }
        p {
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}
