/* Global Variables */
@baseline: 20px;
@text-base: 1.4rem;
@primary-green: #006150;
@secondary-green: #6EAB24;
@primary-grey: #333333;
@secondary-grey: #C3C3C3;
@light-green: #027864;
@alert-red: #D0021B;
@text-link: #027864;
@text-link-hover: #6eab24;
@secondary-link-color: #C3C3C3;
@primary-font-light: 'futura_bt_light', "futura_bt_light", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
@primary-font-bold: 'futura_bt_bold', "futura_bt_bold", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
@secondary-font: Arial, Helvetica, sans-serif;
@nav-icon: 'omsa' !important;
@btn-om-arrow-hover: #6EAB24;


